body {
  background-color: #EAF6F6;
}

hr {
  border: 3px;
  height: 0px;
  border-style: dashed none none;
  border-color: green;
  background-color: #EAF6F6;
  width: 100%;
}

h1 {
  color: green;
}

h2 {
  color: green;
}

.container {
  background-color: lime;
  width: 1000px;
  height: 200px;
  position: absolute;
}

.top {
  background-color: blue;
  width: 100px;
  height: 100px;
  margin: 0;
  position: absolute;
  top: 0;
}

.top h3 {
  color: yellow;
}

.bottom {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 0;
  position: absolute;
  left: 100px;
  top: 100px;
}

.bottom h3 {
  color: yellow;
}
